<nb-card>
  <nb-card-header>Bins</nb-card-header>
  <nb-card-body style="max-height: calc(100vh - 274px); overflow-y: auto">
    <table class="">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Fill</th>
          <th width="20%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bin of bins">
          <td>{{ bin.id }}</td>
          <td>
            <a [routerLink]="['/', 'bins', bin.id]">{{ bin.name }}</a>
          </td>
          <td>{{ bin.fillLevel }}</td>
          <td>
            <button
              nbButton
              shape="round"
              size="tiny"
              status="success"
              [nbPopover]="chartComponent"
            >
              messages
            </button>
            <button
              nbButton
              shape="round"
              size="tiny"
              status="primary"
              [nbPopover]="mapComponent"
              [nbPopoverContext]="{
                position: { lat: bin.lat, lng: bin.long }
              }"
            >
              location
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
